USE [master]
GO
/****** Object:  Database [PremixTrackDB]    Script Date: 9/6/2026 1:41:06 PM ******/
CREATE DATABASE [PremixTrackDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PremixTrackDB', FILENAME = N'/var/opt/mssql/data/PremixTrackDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PremixTrackDB_log', FILENAME = N'/var/opt/mssql/data/PremixTrackDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PremixTrackDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PremixTrackDB]
GO
/****** Object:  Table [dbo].[fact_Forecast_Detail]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_Forecast_Detail](
	[DetailID] [bigint] IDENTITY(1,1) NOT NULL,
	[VersionID] [nvarchar](100) NOT NULL,
	[RunDate] [date] NOT NULL,
	[SiteCode] [nvarchar](50) NOT NULL,
	[FactoryCode] [nvarchar](50) NOT NULL,
	[PlantName] [nvarchar](250) NOT NULL,
	[MaterialCode] [nvarchar](50) NOT NULL,
	[MaterialName] [nvarchar](250) NOT NULL,
	[Division] [nvarchar](50) NOT NULL,
	[ForecastQtyKg] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_fact_Forecast_Detail] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_Inventory_SOH]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_Inventory_SOH](
	[SOH_ID] [nvarchar](100) NOT NULL,
	[FactoryID] [nvarchar](50) NULL,
	[MaterialCode] [nvarchar](50) NOT NULL,
	[SOHQtyKg] [decimal](18, 2) NOT NULL,
	[Region] [nvarchar](50) NULL,
	[WarehouseCode] [nvarchar](50) NULL,
	[OrgCode] [nvarchar](50) NULL,
	[SubInventory] [nvarchar](50) NULL,
	[AveragePrice] [decimal](18, 2) NULL,
	[SnapshotDate] [date] NOT NULL,
	[AllocatedKg] [decimal](18, 2) NOT NULL,
	[AvailableKg]  AS ([SOHQtyKg]-[AllocatedKg]),
	[LotNumber] [nvarchar](100) NOT NULL,
	[ExpiryDate] [date] NULL,
	[QualityStatus] [nvarchar](50) NOT NULL,
	[LastUpdated] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_fact_Inventory_SOH] PRIMARY KEY CLUSTERED 
(
	[SOH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_PO_Detail]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_PO_Detail](
	[PO_Detail_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PONumber] [nvarchar](50) NOT NULL,
	[MaterialCode] [nvarchar](50) NOT NULL,
	[FactoryCode] [nvarchar](50) NOT NULL,
	[OrderQtyKg] [decimal](18, 2) NOT NULL,
	[ReceivedQtyKg] [decimal](18, 2) NOT NULL,
	[PendingQtyKg]  AS ([OrderQtyKg]-[ReceivedQtyKg]) PERSISTED,
	[UnitPriceUSD] [decimal](18, 4) NOT NULL,
	[ETA_Date] [date] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[UnitPriceVND] [decimal](18, 2) NULL,
	[LineAmountVND] [decimal](18, 2) NULL,
	[AmountRemainderVND] [decimal](18, 2) NULL,
	[PromisedDeliveryDate] [date] NULL,
	[PAGNumber] [nvarchar](100) NULL,
	[LineStatus] [nvarchar](50) NULL,
	[Incoterm] [nvarchar](50) NULL,
	[CountryOfOrigin] [nvarchar](100) NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_fact_PO_Detail] PRIMARY KEY CLUSTERED 
(
	[PO_Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_Inbound_Schedule]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_Inbound_Schedule](
	[ScheduleID] [nvarchar](50) NOT NULL,
	[PONumber] [nvarchar](50) NOT NULL,
	[MaterialCode] [nvarchar](50) NOT NULL,
	[FactoryCode] [nvarchar](50) NOT NULL,
	[SupplierCode] [nvarchar](50) NOT NULL,
	[ExpectedArrivalDate] [date] NOT NULL,
	[ScheduledQtyKg] [decimal](18, 2) NOT NULL,
	[ContainerNo] [nvarchar](50) NULL,
	[ShippingLine] [nvarchar](150) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ActualArrivalDate] [date] NULL,
	[ReceivedAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_fact_Inbound_Schedule] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_Factory]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Factory](
	[FactoryID] [nvarchar](50) NOT NULL,
	[InternalCode] [nvarchar](50) NOT NULL,
	[FactoryName_VN] [nvarchar](250) NOT NULL,
	[FactoryName_EN] [nvarchar](250) NULL,
	[Division] [nvarchar](50) NOT NULL,
	[RegionID] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[CapacityTonsPerMonth] [decimal](18, 2) NOT NULL,
	[ActiveStatus] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_dim_Factory] PRIMARY KEY CLUSTERED 
(
	[FactoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_Material]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Material](
	[MaterialID] [nvarchar](50) NOT NULL,
	[MaterialCode] [nvarchar](50) NOT NULL,
	[Name_VN] [nvarchar](250) NOT NULL,
	[Name_EN] [nvarchar](250) NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[UnitPriceUSD] [decimal](18, 4) NOT NULL,
	[PIC] [nvarchar](100) NOT NULL,
	[SafetyStockDays] [int] NOT NULL,
	[MinOrderQty] [decimal](18, 2) NOT NULL,
	[StandardPackingKg] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[StandardPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dim_Material] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Forecast_Header]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Forecast_Header](
	[VersionID] [nvarchar](50) NOT NULL,
	[VersionName] [nvarchar](150) NOT NULL,
	[ExportDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[WorkingDaysInMonth] [int] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Fact_Forecast_Header] PRIMARY KEY CLUSTERED 
(
	[VersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Premix_Material_Stock_DOI]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==============================================================================
    -- 6. TẠO VIEW TÍNH TOÁN DOI & CẢNH BÁO TỒN KHO THỜI GIAN THỰC (REAL-TIME DOI ENGINE)
    -- ==============================================================================
    CREATE VIEW [dbo].[vw_Premix_Material_Stock_DOI] AS
    WITH SOH_Agg AS (
        SELECT 
            FactoryID, 
            MaterialID, 
            SUM(Quantity) AS TotalSOH
        FROM dbo.Fact_Inventory_SOH
        GROUP BY FactoryID, MaterialID
    ),
    PO_Inbound_Agg AS (
        SELECT 
            pod.FactoryID, 
            pod.MaterialID, 
            SUM(sch.PlannedQty) AS TotalInboundQty
        FROM dbo.Fact_Inbound_Schedule sch
        INNER JOIN dbo.Fact_PO_Detail pod ON sch.PODetailID = pod.PODetailID
        WHERE sch.Status IN ('Scheduled', 'In_Transit')
        GROUP BY pod.FactoryID, pod.MaterialID
    ),
    Forecast_Active AS (
        SELECT 
            fd.FactoryID,
            fd.MaterialID,
            fd.ForecastQty,
            fh.WorkingDaysInMonth,
            CAST(fd.ForecastQty / NULLIF(fh.WorkingDaysInMonth, 0) AS DECIMAL(18, 2)) AS DailyUsage
        FROM dbo.Fact_Forecast_Detail fd
        INNER JOIN dbo.Fact_Forecast_Header fh ON fd.VersionID = fh.VersionID
        WHERE fh.IsActive = 1
    )
    SELECT 
        f.FactoryID,
        f.InternalCode AS FactoryCode,
        f.FactoryName_VN AS FactoryName,
        m.MaterialID,
        m.MaterialCode,
        m.Name_VN AS MaterialName_VN,
        m.Name_EN AS MaterialName_EN,
        m.Catery,
        m.Unit,
        m.SafetyStockDays,
        m.Status AS MaterialStatus,
        m.UnitPriceUSD,
        m.ReplacementMaterialID,
        m_rep.MaterialCode AS ReplacementMaterialCode,
        m_rep.Name_VN AS ReplacementMaterialName,
        ISNULL(fc.ForecastQty, 0.00) AS ForecastQty,
        ISNULL(fc.DailyUsage, 0.00) AS DailyUsage,
        ISNULL(soh.TotalSOH, 0.00) AS SOHQty,
        ISNULL(inb.TotalInboundQty, 0.00) AS OpenPOQty,
        (ISNULL(soh.TotalSOH, 0.00) + ISNULL(inb.TotalInboundQty, 0.00)) AS TotalAvailableQty,
        -- Tính DOI SOH
        CASE 
            WHEN ISNULL(fc.DailyUsage, 0) <= 0 THEN 999.0
            ELSE CAST(ISNULL(soh.TotalSOH, 0.00) / fc.DailyUsage AS DECIMAL(10, 1))
        END AS DOI_SOH,
        -- Tính DOI Tổng (SOH + Inbound)
        CASE 
            WHEN ISNULL(fc.DailyUsage, 0) <= 0 THEN 999.0
            ELSE CAST((ISNULL(soh.TotalSOH, 0.00) + ISNULL(inb.TotalInboundQty, 0.00)) / fc.DailyUsage AS DECIMAL(10, 1))
        END AS DOI_Total,
        -- Phân loại mức độ cảnh báo (Alert Severity)
        CASE 
            WHEN m.Status = 'Stop_Usage' AND ISNULL(soh.TotalSOH, 0) > 0 THEN 'STOP_USAGE_WARNING'
            WHEN (ISNULL(soh.TotalSOH, 0.00) / NULLIF(fc.DailyUsage, 0)) < 7.0 THEN 'CRITICAL'
            WHEN (ISNULL(soh.TotalSOH, 0.00) / NULLIF(fc.DailyUsage, 0)) < m.SafetyStockDays THEN 'WARNING'
            WHEN (ISNULL(soh.TotalSOH, 0.00) / NULLIF(fc.DailyUsage, 0)) > 35.0 THEN 'OVERSTOCK'
            ELSE 'BALANCED'
        END AS Severity
    FROM dbo.Dim_Factory f
    CROSS JOIN dbo.Dim_Material m
    LEFT JOIN dbo.Dim_Material m_rep ON m.ReplacementMaterialID = m_rep.MaterialID
    LEFT JOIN Forecast_Active fc ON f.FactoryID = fc.FactoryID AND m.MaterialID = fc.MaterialID
    LEFT JOIN SOH_Agg soh ON f.FactoryID = soh.FactoryID AND m.MaterialID = soh.MaterialID
    LEFT JOIN PO_Inbound_Agg inb ON f.FactoryID = inb.FactoryID AND m.MaterialID = inb.MaterialID
    WHERE f.IsActive = 1;
GO
/****** Object:  Table [dbo].[fact_Position_Snapshot]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_Position_Snapshot](
	[PositionID] [nvarchar](100) NOT NULL,
	[SnapshotDate] [date] NOT NULL,
	[CutoffWorkingDays] [int] NOT NULL,
	[StandardMonthDays] [int] NOT NULL,
	[Region] [nvarchar](50) NOT NULL,
	[RMGroup] [nvarchar](50) NOT NULL,
	[Division] [nvarchar](50) NOT NULL,
	[FactoryCode] [nvarchar](50) NOT NULL,
	[MaterialCode] [nvarchar](50) NOT NULL,
	[MaterialName] [nvarchar](250) NOT NULL,
	[PIC] [nvarchar](100) NOT NULL,
	[SOHQtyKg] [decimal](18, 2) NOT NULL,
	[MTD_Production_PrevMonth_Kg] [decimal](18, 2) NOT NULL,
	[MTD_Production_CurrMonth_Kg] [decimal](18, 2) NOT NULL,
	[MonthlyUsageForecastKg] [decimal](18, 2) NOT NULL,
	[PctUsedUsage] [decimal](18, 4) NULL,
	[DailyStandardUsageKg] [decimal](18, 2) NULL,
	[DOI_Standard_Days] [decimal](18, 1) NULL,
	[DOI_Actual_MTD_Days] [decimal](18, 1) NULL,
	[StockoutDateSOH] [date] NULL,
	[EmergencyBufferQtyKg] [decimal](18, 2) NULL,
	[DOI_AfterBuffer_Days] [decimal](18, 1) NULL,
	[PO_PendingInboundKg] [decimal](18, 2) NOT NULL,
	[TotalPipeline_DOI_Days] [decimal](18, 1) NULL,
	[MaxProtectedDate] [date] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_fact_Position_Snapshot] PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Supply_Position_Matrix]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Tạo VIEW dbo.vw_Supply_Position_Matrix ánh xạ từ fact_Position_Snapshot
CREATE   VIEW [dbo].[vw_Supply_Position_Matrix] AS
SELECT 
    PositionID AS RecordID,
    SnapshotDate,
    Region,
    RMGroup,
    Division,
    FactoryCode,
    MaterialCode,
    MaterialName,
    PIC,
    SOHQtyKg,
    MTD_Production_PrevMonth_Kg,
    MTD_Production_CurrMonth_Kg,
    MonthlyUsageForecastKg,
    PctUsedUsage,
    DailyStandardUsageKg,
    DOI_Standard_Days,
    DOI_Actual_MTD_Days,
    StockoutDateSOH,
    EmergencyBufferQtyKg,
    DOI_AfterBuffer_Days,
    PO_PendingInboundKg,
    TotalPipeline_DOI_Days,
    MaxProtectedDate,
    CASE 
        WHEN DOI_Standard_Days < 7.0 THEN N'CRITICAL'
        WHEN DOI_Standard_Days <= 15.0 THEN N'WARNING'
        WHEN DOI_Standard_Days > 35.0 THEN N'OVERSTOCK'
        ELSE N'BALANCED'
    END AS SeverityLevel,
    CASE 
        WHEN DOI_Standard_Days < 7.0 THEN N'Khẩn cấp: Điều chuyển nội bộ hoặc mua gấp'
        WHEN DOI_Standard_Days <= 15.0 THEN N'Theo dõi sát tiến độ PO Inbound'
        WHEN DOI_Standard_Days > 35.0 THEN N'Tạm hoãn PO mới, ưu tiên điều chuyển đi'
        ELSE N'Tồn kho cân bằng tối ưu'
    END AS ActionSuggested,
    CreatedAt AS UpdatedAt
FROM dbo.fact_Position_Snapshot;
GO
/****** Object:  Table [dbo].[dim_Formula_BOM]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Formula_BOM](
	[FormulaID] [nvarchar](50) NOT NULL,
	[FormulaCode] [nvarchar](50) NOT NULL,
	[FormulaName] [nvarchar](250) NOT NULL,
	[Division] [nvarchar](50) NOT NULL,
	[Revision] [nvarchar](20) NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_dim_Formula_BOM] PRIMARY KEY CLUSTERED 
(
	[FormulaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_Formula_Item]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Formula_Item](
	[FormulaItemID] [int] IDENTITY(1,1) NOT NULL,
	[FormulaCode] [nvarchar](50) NOT NULL,
	[MaterialCode] [nvarchar](50) NOT NULL,
	[InclusionRatePct] [decimal](8, 4) NOT NULL,
	[Priority] [int] NOT NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_dim_Formula_Item] PRIMARY KEY CLUSTERED 
(
	[FormulaItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_Material_Substitution]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Material_Substitution](
	[SubID] [nvarchar](50) NOT NULL,
	[PrimaryMaterialCode] [nvarchar](50) NOT NULL,
	[AltMaterialCode] [nvarchar](50) NOT NULL,
	[SubstitutionRatio] [decimal](8, 4) NOT NULL,
	[PriorityOrder] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[ValidFrom] [date] NOT NULL,
	[ValidTo] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_dim_Material_Substitution] PRIMARY KEY CLUSTERED 
(
	[SubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_PIC]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_PIC](
	[PIC_ID] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Dim_PIC] PRIMARY KEY CLUSTERED 
(
	[PIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_Region]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Region](
	[RegionID] [nvarchar](50) NOT NULL,
	[RegionName] [nvarchar](200) NOT NULL,
	[RegionName_EN] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_dim_Region] PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_Supplier]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Supplier](
	[SupplierID] [nvarchar](50) NOT NULL,
	[SupplierCode] [nvarchar](50) NOT NULL,
	[ShortName] [nvarchar](150) NOT NULL,
	[FullName] [nvarchar](350) NOT NULL,
	[SupplierType] [nvarchar](50) NOT NULL,
	[ContractNo] [nvarchar](100) NULL,
	[Incoterm] [nvarchar](50) NOT NULL,
	[PaymentTerms] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](250) NULL,
	[TaxCode] [nvarchar](50) NULL,
	[Note_0] [nvarchar](500) NULL,
	[Note_1] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_dim_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_Forecast_Version]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_Forecast_Version](
	[VersionID] [nvarchar](100) NOT NULL,
	[RunDate] [date] NOT NULL,
	[VersionName] [nvarchar](250) NOT NULL,
	[TotalForecastQty] [decimal](18, 2) NOT NULL,
	[SKUCount] [int] NOT NULL,
	[PlantCount] [int] NOT NULL,
	[UploadedAt] [datetime2](0) NOT NULL,
	[UploadedBy] [nvarchar](100) NOT NULL,
	[SourceFileName] [nvarchar](255) NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_fact_Forecast_Version] PRIMARY KEY CLUSTERED 
(
	[VersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_InterFactory_Transfer]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_InterFactory_Transfer](
	[TransferID] [nvarchar](50) NOT NULL,
	[MaterialID] [nvarchar](50) NOT NULL,
	[SourceFactoryID] [nvarchar](50) NOT NULL,
	[TargetFactoryID] [nvarchar](50) NOT NULL,
	[TransferQtyKg] [decimal](18, 2) NOT NULL,
	[EstimatedDistanceKm] [decimal](10, 2) NOT NULL,
	[EstimatedTransitHours] [decimal](6, 2) NOT NULL,
	[Urgency] [nvarchar](30) NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Fact_InterFactory_Transfer] PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_Inventory_Movement]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_Inventory_Movement](
	[MovementID] [nvarchar](100) NOT NULL,
	[FactoryCode] [nvarchar](50) NOT NULL,
	[OrgCode] [nvarchar](50) NOT NULL,
	[MaterialCode] [nvarchar](50) NOT NULL,
	[MaterialName] [nvarchar](250) NOT NULL,
	[UOM] [nvarchar](20) NOT NULL,
	[SubInventory] [nvarchar](50) NOT NULL,
	[BeginOnHandKg] [decimal](18, 2) NOT NULL,
	[ReceivedQtyKg] [decimal](18, 2) NOT NULL,
	[WipIssueQtyKg] [decimal](18, 2) NOT NULL,
	[ClosedOnHandKg] [decimal](18, 2) NOT NULL,
	[ReportDate] [date] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_fact_Inventory_Movement] PRIMARY KEY CLUSTERED 
(
	[MovementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_Production_Usage]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_Production_Usage](
	[UsageID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsageDate] [date] NOT NULL,
	[FactoryCode] [nvarchar](50) NOT NULL,
	[MaterialCode] [nvarchar](50) NOT NULL,
	[BatchNumber] [nvarchar](100) NOT NULL,
	[FormulaCode] [nvarchar](50) NULL,
	[ActualUsageKg] [decimal](18, 2) NOT NULL,
	[RecordedBy] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_fact_Production_Usage] PRIMARY KEY CLUSTERED 
(
	[UsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_Purchase_Order]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_Purchase_Order](
	[PO_Header_ID] [nvarchar](50) NOT NULL,
	[PONumber] [nvarchar](50) NOT NULL,
	[SupplierCode] [nvarchar](50) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[ExpectedDeliveryDate] [date] NULL,
	[FactoryCode] [nvarchar](50) NOT NULL,
	[TotalAmountUSD] [decimal](18, 2) NOT NULL,
	[POStatus] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[PurchaserName] [nvarchar](100) NULL,
	[PaymentTerms] [nvarchar](100) NULL,
	[Incoterm] [nvarchar](50) NULL,
	[ContractNumber] [nvarchar](100) NULL,
	[Currency] [nvarchar](20) NULL,
 CONSTRAINT [PK_fact_Purchase_Order] PRIMARY KEY CLUSTERED 
(
	[PO_Header_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_PurchaseOrder]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_PurchaseOrder](
	[POID] [nvarchar](50) NOT NULL,
	[PONumber] [nvarchar](100) NOT NULL,
	[SupplierID] [nvarchar](50) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TotalAmountUSD] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Fact_PurchaseOrder] PRIMARY KEY CLUSTERED 
(
	[POID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formula_BOM]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formula_BOM](
	[FormulaID] [nvarchar](50) NOT NULL,
	[FormulaCode] [nvarchar](100) NOT NULL,
	[FormulaName] [nvarchar](250) NOT NULL,
	[TargetSpecies] [nvarchar](100) NOT NULL,
	[PremixInclusionRateInFeed] [decimal](6, 3) NOT NULL,
	[StandardBatchSizeKg] [decimal](18, 2) NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Formula_BOM] PRIMARY KEY CLUSTERED 
(
	[FormulaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formula_BOM_Item]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formula_BOM_Item](
	[BOMItemID] [nvarchar](50) NOT NULL,
	[FormulaID] [nvarchar](50) NOT NULL,
	[MaterialID] [nvarchar](50) NOT NULL,
	[QtyKgPerTonPremix] [decimal](18, 4) NOT NULL,
	[InclusionPercent] [decimal](6, 3) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Formula_BOM_Item] PRIMARY KEY CLUSTERED 
(
	[BOMItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_Raw_Forecast_Matrix]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_Raw_Forecast_Matrix](
	[StagingID] [bigint] IDENTITY(1,1) NOT NULL,
	[BatchID] [nvarchar](100) NOT NULL,
	[RunDate] [date] NOT NULL,
	[VersionName] [nvarchar](250) NOT NULL,
	[MaterialCode] [nvarchar](50) NOT NULL,
	[MaterialDesc] [nvarchar](250) NULL,
	[SiteHeader] [nvarchar](100) NOT NULL,
	[ForecastQtyKg] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_stg_Raw_Forecast_Matrix] PRIMARY KEY CLUSTERED 
(
	[StagingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_Audit_Log]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_Audit_Log](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[TableName] [nvarchar](100) NOT NULL,
	[RecordKey] [nvarchar](200) NOT NULL,
	[PerformedBy] [nvarchar](100) NOT NULL,
	[PerformedAt] [datetime2](0) NOT NULL,
	[OldValuesJSON] [nvarchar](max) NULL,
	[NewValuesJSON] [nvarchar](max) NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_sys_Audit_Log] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_Import_Mapping]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_Import_Mapping](
	[MappingID] [nvarchar](50) NOT NULL,
	[TemplateType] [nvarchar](50) NOT NULL,
	[SourceColumnHeader] [nvarchar](200) NOT NULL,
	[TargetDbField] [nvarchar](100) NOT NULL,
	[DataType] [nvarchar](50) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[LastUsedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_sys_Import_Mapping] PRIMARY KEY CLUSTERED 
(
	[MappingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_User_Account]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_User_Account](
	[UserID] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Department] [nvarchar](200) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[FactoryAccess] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_sys_User_Account] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[dim_Factory] ([FactoryID], [InternalCode], [FactoryName_VN], [FactoryName_EN], [Division], [RegionID], [Address], [CapacityTonsPerMonth], [ActiveStatus], [CreatedAt]) VALUES (N'FAC-043', N'DBD', N'043 Binh Duong VN', N'Binh Duong Plant', N'Livestock', N'REG-SOUTH', N'KCN Sóng Thần, Dĩ An, Bình Dương', CAST(35000.00 AS Decimal(18, 2)), N'Active', CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[dim_Factory] ([FactoryID], [InternalCode], [FactoryName_VN], [FactoryName_EN], [Division], [RegionID], [Address], [CapacityTonsPerMonth], [ActiveStatus], [CreatedAt]) VALUES (N'FAC-0432', N'DNA', N'0432 Nghe An VN', N'Nghe An Plant', N'Livestock', N'REG-NORTH', N'KCN VSIP, Hưng Nguyên, Nghệ An', CAST(28000.00 AS Decimal(18, 2)), N'Active', CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[dim_Factory] ([FactoryID], [InternalCode], [FactoryName_VN], [FactoryName_EN], [Division], [RegionID], [Address], [CapacityTonsPerMonth], [ActiveStatus], [CreatedAt]) VALUES (N'FAC-0434', N'DHG', N'0434 Hau Giang VN', N'Hau Giang Plant', N'Livestock', N'REG-MEKONG', N'KCN Sông Hậu, Châu Thành, Hậu Giang', CAST(25000.00 AS Decimal(18, 2)), N'Active', CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
GO
INSERT [dbo].[dim_Material] ([MaterialID], [MaterialCode], [Name_VN], [Name_EN], [Category], [Unit], [UnitPriceUSD], [PIC], [SafetyStockDays], [MinOrderQty], [StandardPackingKg], [IsActive], [CreatedDate], [StandardPrice]) VALUES (N'1101018', N'1101018', N'SOYABEANMEAL 48% CP', N'Soybean Meal Dehulled 48% CP', N'Protein', N'KG', CAST(0.4600 AS Decimal(18, 4)), N'Austin', 10, CAST(0.00 AS Decimal(18, 2)), CAST(25.00 AS Decimal(18, 2)), 1, CAST(N'2026-09-06T06:06:13.0000000' AS DateTime2), CAST(11543.00 AS Decimal(18, 2)))
INSERT [dbo].[dim_Material] ([MaterialID], [MaterialCode], [Name_VN], [Name_EN], [Category], [Unit], [UnitPriceUSD], [PIC], [SafetyStockDays], [MinOrderQty], [StandardPackingKg], [IsActive], [CreatedDate], [StandardPrice]) VALUES (N'1101107', N'1101107', N'SOY HULLS', N'Pelleted Soybean Hulls', N'Grain', N'KG', CAST(0.2100 AS Decimal(18, 4)), N'Austin', 10, CAST(0.00 AS Decimal(18, 2)), CAST(25.00 AS Decimal(18, 2)), 1, CAST(N'2026-09-06T06:06:13.0000000' AS DateTime2), CAST(5365.00 AS Decimal(18, 2)))
INSERT [dbo].[dim_Material] ([MaterialID], [MaterialCode], [Name_VN], [Name_EN], [Category], [Unit], [UnitPriceUSD], [PIC], [SafetyStockDays], [MinOrderQty], [StandardPackingKg], [IsActive], [CreatedDate], [StandardPrice]) VALUES (N'1102002', N'1102002', N'RSM 00 > 38%CP GMO', N'Rapeseed Meal Canola 00 > 38% CP GMO', N'Protein', N'KG', CAST(0.3400 AS Decimal(18, 4)), N'Austin', 14, CAST(0.00 AS Decimal(18, 2)), CAST(25.00 AS Decimal(18, 2)), 1, CAST(N'2026-09-06T06:06:13.0000000' AS DateTime2), CAST(8390.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[dim_Material_Substitution] ([SubID], [PrimaryMaterialCode], [AltMaterialCode], [SubstitutionRatio], [PriorityOrder], [Notes], [ValidFrom], [ValidTo], [IsActive], [CreatedAt]) VALUES (N'SUB-001', N'2302010', N'2302020', CAST(1.0500 AS Decimal(8, 4)), 1, N'Thay thế MCP bằng DCP (tỷ lệ 1:1.05 bù phospho)', CAST(N'2024-01-01' AS Date), NULL, 1, CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[dim_Material_Substitution] ([SubID], [PrimaryMaterialCode], [AltMaterialCode], [SubstitutionRatio], [PriorityOrder], [Notes], [ValidFrom], [ValidTo], [IsActive], [CreatedAt]) VALUES (N'SUB-002', N'1002010', N'1003010', CAST(1.0000 AS Decimal(8, 4)), 1, N'Thay thế Bắp (Corn) bằng Lúa Mì (Wheat) khi giá bắp tăng', CAST(N'2024-01-01' AS Date), NULL, 1, CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[dim_Material_Substitution] ([SubID], [PrimaryMaterialCode], [AltMaterialCode], [SubstitutionRatio], [PriorityOrder], [Notes], [ValidFrom], [ValidTo], [IsActive], [CreatedAt]) VALUES (N'SUB-003', N'1002010', N'1001010', CAST(1.0200 AS Decimal(8, 4)), 2, N'Thay thế Bắp bằng Đại Mạch (Barley)', CAST(N'2024-01-01' AS Date), NULL, 1, CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
GO
INSERT [dbo].[Dim_PIC] ([PIC_ID], [FullName], [Email], [Phone], [Department], [IsActive], [CreatedAt]) VALUES (N'PIC-01', N'Nguyễn Văn Minh', N'minh.nguyen@premixtrack.com.vn', N'0912 345 678', N'Procurement - Amino & Vitamins', 1, CAST(N'2026-08-16T09:59:56.1329378' AS DateTime2))
INSERT [dbo].[Dim_PIC] ([PIC_ID], [FullName], [Email], [Phone], [Department], [IsActive], [CreatedAt]) VALUES (N'PIC-02', N'Trần Thị Thu Hà', N'ha.tran@premixtrack.com.vn', N'0988 765 432', N'Premix Formulator & QC', 1, CAST(N'2026-08-16T09:59:56.1329378' AS DateTime2))
INSERT [dbo].[Dim_PIC] ([PIC_ID], [FullName], [Email], [Phone], [Department], [IsActive], [CreatedAt]) VALUES (N'PIC-03', N'Lê Hoàng Nam', N'nam.le@premixtrack.com.vn', N'0903 112 233', N'Supply Chain & S&OP', 1, CAST(N'2026-08-16T09:59:56.1329378' AS DateTime2))
GO
INSERT [dbo].[dim_Region] ([RegionID], [RegionName], [RegionName_EN], [CreatedAt]) VALUES (N'REG-CENTRAL', N'Miền Trung & Tây Nguyên', N'Central & Highlands', CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[dim_Region] ([RegionID], [RegionName], [RegionName_EN], [CreatedAt]) VALUES (N'REG-MEKONG', N'Đồng Bằng Sông Cửu Long', N'Mekong Delta Region', CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[dim_Region] ([RegionID], [RegionName], [RegionName_EN], [CreatedAt]) VALUES (N'REG-NORTH', N'Miền Bắc & Duyên Hải', N'Northern Region', CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
GO
INSERT [dbo].[dim_Supplier] ([SupplierID], [SupplierCode], [ShortName], [FullName], [SupplierType], [ContractNo], [Incoterm], [PaymentTerms], [Email], [TaxCode], [Note_0], [Note_1], [IsActive], [CreatedAt]) VALUES (N'SUP-1006576', N'1006576', N'Meihua', N'Meihua Group International Trading (Hong Kong) Limited', N'IMPORT', N'_', N'DDP', N'0', N'sales@meihuagroup.com', N'_', NULL, NULL, 1, CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[dim_Supplier] ([SupplierID], [SupplierCode], [ShortName], [FullName], [SupplierType], [ContractNo], [Incoterm], [PaymentTerms], [Email], [TaxCode], [Note_0], [Note_1], [IsActive], [CreatedAt]) VALUES (N'SUP-1025933', N'1025933', N'Adisseo Asia', N'Adisseo Asia Pacific Pte Ltd', N'IMPORT', N'_', N'DDP', N'Net 60', N'orders.apac@adisseo.com', N'_', NULL, NULL, 1, CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[dim_Supplier] ([SupplierID], [SupplierCode], [ShortName], [FullName], [SupplierType], [ContractNo], [Incoterm], [PaymentTerms], [Email], [TaxCode], [Note_0], [Note_1], [IsActive], [CreatedAt]) VALUES (N'SUP-1026617', N'1026617', N'Linh Long', N'Công Ty TNHH Phát Triển Linh Long', N'LOCAL', NULL, N'DDP', N'Net 60', NULL, NULL, NULL, NULL, 1, CAST(N'2026-09-06T06:06:13.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[fact_Forecast_Detail] ON 

INSERT [dbo].[fact_Forecast_Detail] ([DetailID], [VersionID], [RunDate], [SiteCode], [FactoryCode], [PlantName], [MaterialCode], [MaterialName], [Division], [ForecastQtyKg], [CreatedAt]) VALUES (1, N'FC-2026-07-24', CAST(N'2026-07-24' AS Date), N'DBQ', N'048', N'048 Binh Dinh 2 DH VN', N'1101330', N'SPC SOYTIDE 55%', N'Livestock', CAST(45288.00 AS Decimal(18, 2)), CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[fact_Forecast_Detail] ([DetailID], [VersionID], [RunDate], [SiteCode], [FactoryCode], [PlantName], [MaterialCode], [MaterialName], [Division], [ForecastQtyKg], [CreatedAt]) VALUES (2, N'FC-2026-07-24', CAST(N'2026-07-24' AS Date), N'DBQ', N'048', N'048 Binh Dinh 2 DH VN', N'1703010', N'DEXTROSE (GLUCOSE)', N'Livestock', CAST(9663.00 AS Decimal(18, 2)), CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[fact_Forecast_Detail] ([DetailID], [VersionID], [RunDate], [SiteCode], [FactoryCode], [PlantName], [MaterialCode], [MaterialName], [Division], [ForecastQtyKg], [CreatedAt]) VALUES (3, N'FC-2026-07-24', CAST(N'2026-07-24' AS Date), N'DBQ', N'048', N'048 Binh Dinh 2 DH VN', N'2101010', N'WHEY POWDER SWEET', N'Livestock', CAST(6216.00 AS Decimal(18, 2)), CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[fact_Forecast_Detail] OFF
GO
INSERT [dbo].[Fact_Forecast_Header] ([VersionID], [VersionName], [ExportDate], [IsActive], [WorkingDaysInMonth], [Note], [CreatedAt]) VALUES (N'VER-2026-W28', N'Forecast D365 FO - Tháng 08/2026 (W28 Official)', CAST(N'2026-08-10' AS Date), 1, 28, N'Kế hoạch sản xuất toàn quốc cho 6 nhà máy', CAST(N'2026-08-16T09:59:56.1494404' AS DateTime2))
GO
INSERT [dbo].[fact_Forecast_Version] ([VersionID], [RunDate], [VersionName], [TotalForecastQty], [SKUCount], [PlantCount], [UploadedAt], [UploadedBy], [SourceFileName], [Notes]) VALUES (N'FC-2026-07-24', CAST(N'2026-07-24' AS Date), N'RD_FC_Matrix_20260724_Baseline.xlsx', CAST(272108404.00 AS Decimal(18, 2)), 38, 22, CAST(N'2026-07-24T08:00:00.0000000' AS DateTime2), N'Minh (R&D)', N'RD_FC_Matrix_20260724_Baseline.xlsx', N'Đợt chạy cơ sở tháng 7')
INSERT [dbo].[fact_Forecast_Version] ([VersionID], [RunDate], [VersionName], [TotalForecastQty], [SKUCount], [PlantCount], [UploadedAt], [UploadedBy], [SourceFileName], [Notes]) VALUES (N'FC-2026-07-31', CAST(N'2026-07-31' AS Date), N'RD_FC_Matrix_20260731_V1.xlsx', CAST(273809240.00 AS Decimal(18, 2)), 38, 22, CAST(N'2026-07-31T16:45:00.0000000' AS DateTime2), N'Linh (Formulator)', N'RD_FC_Matrix_20260731_V1.xlsx', N'Chạy công thức cuối tháng 7')
INSERT [dbo].[fact_Forecast_Version] ([VersionID], [RunDate], [VersionName], [TotalForecastQty], [SKUCount], [PlantCount], [UploadedAt], [UploadedBy], [SourceFileName], [Notes]) VALUES (N'FC-2026-08-07', CAST(N'2026-08-07' AS Date), N'RD_FC_Matrix_20260807_Adjusted.xlsx', CAST(272580591.00 AS Decimal(18, 2)), 38, 22, CAST(N'2026-08-07T10:20:00.0000000' AS DateTime2), N'Minh (R&D)', N'RD_FC_Matrix_20260807_Adjusted.xlsx', N'Chạy công thức tuần 31')
GO
INSERT [dbo].[fact_Inventory_Movement] ([MovementID], [FactoryCode], [OrgCode], [MaterialCode], [MaterialName], [UOM], [SubInventory], [BeginOnHandKg], [ReceivedQtyKg], [WipIssueQtyKg], [ClosedOnHandKg], [ReportDate], [CreatedAt]) VALUES (N'MOV-DBD-1001010-250826', N'DBD', N'DBD', N'1001010', N'BARLEY', N'Kg', N'RAW', CAST(374904.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(143785.50 AS Decimal(18, 2)), CAST(223683.00 AS Decimal(18, 2)), CAST(N'2026-08-25' AS Date), CAST(N'2026-08-27T15:41:51.0000000' AS DateTime2))
INSERT [dbo].[fact_Inventory_Movement] ([MovementID], [FactoryCode], [OrgCode], [MaterialCode], [MaterialName], [UOM], [SubInventory], [BeginOnHandKg], [ReceivedQtyKg], [WipIssueQtyKg], [ClosedOnHandKg], [ReportDate], [CreatedAt]) VALUES (N'MOV-DBD-1002010-250826', N'DBD', N'DBD', N'1002010', N'CORN', N'Kg', N'RAW', CAST(1507958.38 AS Decimal(18, 2)), CAST(7761920.00 AS Decimal(18, 2)), CAST(8124748.60 AS Decimal(18, 2)), CAST(1110519.98 AS Decimal(18, 2)), CAST(N'2026-08-25' AS Date), CAST(N'2026-08-27T15:41:51.0000000' AS DateTime2))
INSERT [dbo].[fact_Inventory_Movement] ([MovementID], [FactoryCode], [OrgCode], [MaterialCode], [MaterialName], [UOM], [SubInventory], [BeginOnHandKg], [ReceivedQtyKg], [WipIssueQtyKg], [ClosedOnHandKg], [ReportDate], [CreatedAt]) VALUES (N'MOV-DBD-1002101-250826', N'DBD', N'DBD', N'1002101', N'CORN GLUTENFEED >20%CP', N'Kg', N'RAW', CAST(97980.87 AS Decimal(18, 2)), CAST(112106.63 AS Decimal(18, 2)), CAST(37.50 AS Decimal(18, 2)), CAST(210050.00 AS Decimal(18, 2)), CAST(N'2026-08-25' AS Date), CAST(N'2026-08-27T15:41:51.0000000' AS DateTime2))
GO
INSERT [dbo].[fact_Inventory_SOH] ([SOH_ID], [FactoryID], [MaterialCode], [SOHQtyKg], [Region], [WarehouseCode], [OrgCode], [SubInventory], [AveragePrice], [SnapshotDate], [AllocatedKg], [LotNumber], [ExpiryDate], [QualityStatus], [LastUpdated]) VALUES (N'SOH-DBD-1001010', N'FAC-DBD', N'1001010', CAST(223683.00 AS Decimal(18, 2)), N'SOUTH', N'DBD', N'DBD', N'RAW', CAST(8450.00 AS Decimal(18, 2)), CAST(N'2026-08-25' AS Date), CAST(0.00 AS Decimal(18, 2)), N'DEFAULT_LOT', NULL, N'Available', CAST(N'2026-09-06T06:06:13.0000000' AS DateTime2))
INSERT [dbo].[fact_Inventory_SOH] ([SOH_ID], [FactoryID], [MaterialCode], [SOHQtyKg], [Region], [WarehouseCode], [OrgCode], [SubInventory], [AveragePrice], [SnapshotDate], [AllocatedKg], [LotNumber], [ExpiryDate], [QualityStatus], [LastUpdated]) VALUES (N'SOH-DBD-1002010', N'FAC-DBD', N'1002010', CAST(1110520.00 AS Decimal(18, 2)), N'SOUTH', N'DBD', N'DBD', N'RAW', CAST(7181.00 AS Decimal(18, 2)), CAST(N'2026-08-25' AS Date), CAST(0.00 AS Decimal(18, 2)), N'DEFAULT_LOT', NULL, N'Available', CAST(N'2026-09-06T06:06:13.0000000' AS DateTime2))
INSERT [dbo].[fact_Inventory_SOH] ([SOH_ID], [FactoryID], [MaterialCode], [SOHQtyKg], [Region], [WarehouseCode], [OrgCode], [SubInventory], [AveragePrice], [SnapshotDate], [AllocatedKg], [LotNumber], [ExpiryDate], [QualityStatus], [LastUpdated]) VALUES (N'SOH-DBD-1002101', N'FAC-DBD', N'1002101', CAST(210050.00 AS Decimal(18, 2)), N'SOUTH', N'DBD', N'DBD', N'RAW', CAST(6799.00 AS Decimal(18, 2)), CAST(N'2026-08-25' AS Date), CAST(0.00 AS Decimal(18, 2)), N'DEFAULT_LOT', NULL, N'Available', CAST(N'2026-09-06T06:06:13.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[fact_PO_Detail] ON 

SET IDENTITY_INSERT [dbo].[fact_PO_Detail] OFF
GO
INSERT [dbo].[fact_Purchase_Order] ([PO_Header_ID], [PONumber], [SupplierCode], [OrderDate], [ExpectedDeliveryDate], [FactoryCode], [TotalAmountUSD], [POStatus], [CreatedAt], [PurchaserName], [PaymentTerms], [Incoterm], [ContractNumber], [Currency]) VALUES (N'PO-H-PAG00010895', N'DHV/PAG/00010895', N'1026897', CAST(N'2026-04-20' AS Date), NULL, N'FAC-DBD', CAST(260832.00 AS Decimal(18, 2)), N'Confirmed', CAST(N'2026-09-06T06:06:13.0000000' AS DateTime2), N'Talena.Tien', N'Net 60', N'DDP', N'DHV/PAG/00010895', N'VND')
INSERT [dbo].[fact_Purchase_Order] ([PO_Header_ID], [PONumber], [SupplierCode], [OrderDate], [ExpectedDeliveryDate], [FactoryCode], [TotalAmountUSD], [POStatus], [CreatedAt], [PurchaserName], [PaymentTerms], [Incoterm], [ContractNumber], [Currency]) VALUES (N'PO-H-PAG00012177', N'DHV/PAG/00012177', N'1035337', CAST(N'2026-08-20' AS Date), NULL, N'FAC-DBD', CAST(104000.00 AS Decimal(18, 2)), N'Confirmed', CAST(N'2026-09-06T06:06:13.0000000' AS DateTime2), N'Fanny.Phuong', N'Net 60', N'DDP', N'DHV/PAG/00012177', N'VND')
INSERT [dbo].[fact_Purchase_Order] ([PO_Header_ID], [PONumber], [SupplierCode], [OrderDate], [ExpectedDeliveryDate], [FactoryCode], [TotalAmountUSD], [POStatus], [CreatedAt], [PurchaserName], [PaymentTerms], [Incoterm], [ContractNumber], [Currency]) VALUES (N'PO-H-PAG00012203', N'DHV/PAG/00012203', N'1030162', CAST(N'2026-08-24' AS Date), NULL, N'FAC-DBD', CAST(484610.00 AS Decimal(18, 2)), N'Confirmed', CAST(N'2026-09-06T06:06:13.0000000' AS DateTime2), N'Hebe.Quynh', N'Net 30', N'EXW', N'DHV/PAG/00012203', N'VND')
GO
INSERT [dbo].[Fact_PurchaseOrder] ([POID], [PONumber], [SupplierID], [OrderDate], [Status], [TotalAmountUSD], [CreatedAt], [UpdatedAt]) VALUES (N'PO-01', N'PO-D365-88901', N'SUP-01', CAST(N'2026-07-15' AS Date), N'Shipped', CAST(71250.00 AS Decimal(18, 2)), CAST(N'2026-08-16T09:59:56.1668543' AS DateTime2), CAST(N'2026-08-16T09:59:56.1668543' AS DateTime2))
INSERT [dbo].[Fact_PurchaseOrder] ([POID], [PONumber], [SupplierID], [OrderDate], [Status], [TotalAmountUSD], [CreatedAt], [UpdatedAt]) VALUES (N'PO-02', N'PO-D365-88903', N'SUP-05', CAST(N'2026-07-20' AS Date), N'Shipped', CAST(21000.00 AS Decimal(18, 2)), CAST(N'2026-08-16T09:59:56.1668543' AS DateTime2), CAST(N'2026-08-16T09:59:56.1668543' AS DateTime2))
INSERT [dbo].[Fact_PurchaseOrder] ([POID], [PONumber], [SupplierID], [OrderDate], [Status], [TotalAmountUSD], [CreatedAt], [UpdatedAt]) VALUES (N'PO-03', N'PO-D365-88905', N'SUP-02', CAST(N'2026-07-25' AS Date), N'Confirmed', CAST(57600.00 AS Decimal(18, 2)), CAST(N'2026-08-16T09:59:56.1668543' AS DateTime2), CAST(N'2026-08-16T09:59:56.1668543' AS DateTime2))
GO
INSERT [dbo].[sys_Import_Mapping] ([MappingID], [TemplateType], [SourceColumnHeader], [TargetDbField], [DataType], [IsRequired], [LastUsedAt]) VALUES (N'MAP-FC01', N'FORECAST', N'Material code', N'MaterialCode', N'STRING', 1, CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[sys_Import_Mapping] ([MappingID], [TemplateType], [SourceColumnHeader], [TargetDbField], [DataType], [IsRequired], [LastUsedAt]) VALUES (N'MAP-FC02', N'FORECAST', N'Material description', N'MaterialName', N'STRING', 1, CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[sys_Import_Mapping] ([MappingID], [TemplateType], [SourceColumnHeader], [TargetDbField], [DataType], [IsRequired], [LastUsedAt]) VALUES (N'MAP-M01', N'Material', N'CODE', N'MaterialCode', N'STRING', 1, CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
GO
INSERT [dbo].[sys_User_Account] ([UserID], [Username], [PasswordHash], [FullName], [Email], [Phone], [Department], [Role], [FactoryAccess], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'USR-001', N'admin', N'$2a$12$eXampleHashedPasswordForAdmin..', N'Nam Đặng', N'nam.dang@premixtrack.vn', N'0378 047 778', N'Ban Giám Đốc & Quản Trị Hệ Thống', N'admin', N'["ALL"]', 1, CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2), CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[sys_User_Account] ([UserID], [Username], [PasswordHash], [FullName], [Email], [Phone], [Department], [Role], [FactoryAccess], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'USR-002', N'scm_lead', N'$2a$12$eXampleHashedPasswordForSCM..', N'Lê Hoàng Nam', N'nam.le@premixtrack.vn', N'0903 112 233', N'Phòng Kế Hoạch Chuỗi Cung Ứng & S&OP', N'planner', N'["ALL"]', 1, CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2), CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
INSERT [dbo].[sys_User_Account] ([UserID], [Username], [PasswordHash], [FullName], [Email], [Phone], [Department], [Role], [FactoryAccess], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'USR-003', N'planner_dbd', N'$2a$12$eXampleHashedPasswordForPlanner..', N'Trần Thị Thu Hà', N'ha.tran@premixtrack.vn', N'0988 765 432', N'Bộ Phận Kỹ Thuật & Kế Hoạch Sản Xuất DBD', N'factory_manager', N'["FAC-DBD","FAC-DDN"]', 1, CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2), CAST(N'2026-09-06T06:06:12.0000000' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_dim_Factory_InternalCode]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_dim_Factory_InternalCode] ON [dbo].[dim_Factory]
(
	[InternalCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_dim_Formula_Code]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_dim_Formula_Code] ON [dbo].[dim_Formula_BOM]
(
	[FormulaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Formula_Material]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Formula_Material] ON [dbo].[dim_Formula_Item]
(
	[FormulaCode] ASC,
	[MaterialCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_dim_Material_Code]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_dim_Material_Code] ON [dbo].[dim_Material]
(
	[MaterialCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Substitution_Pair]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Substitution_Pair] ON [dbo].[dim_Material_Substitution]
(
	[PrimaryMaterialCode] ASC,
	[AltMaterialCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Dim_PIC_Email]    Script Date: 9/6/2026 1:41:07 PM ******/
ALTER TABLE [dbo].[Dim_PIC] ADD  CONSTRAINT [UQ_Dim_PIC_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_dim_Supplier_Code]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_dim_Supplier_Code] ON [dbo].[dim_Supplier]
(
	[SupplierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Forecast_RunDate_Material]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Forecast_RunDate_Material] ON [dbo].[fact_Forecast_Detail]
(
	[RunDate] ASC,
	[MaterialCode] ASC
)
INCLUDE([ForecastQtyKg]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Forecast_Site_Material]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Forecast_Site_Material] ON [dbo].[fact_Forecast_Detail]
(
	[VersionID] ASC,
	[SiteCode] ASC,
	[MaterialCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Forecast_RunVersion]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Forecast_RunVersion] ON [dbo].[fact_Forecast_Version]
(
	[RunDate] ASC,
	[VersionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvMovement_Date_Factory]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_InvMovement_Date_Factory] ON [dbo].[fact_Inventory_Movement]
(
	[ReportDate] ASC,
	[FactoryCode] ASC,
	[MaterialCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Inventory_Snapshot]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Inventory_Snapshot] ON [dbo].[fact_Inventory_SOH]
(
	[SnapshotDate] ASC,
	[WarehouseCode] ASC,
	[MaterialCode] ASC
)
INCLUDE([SOHQtyKg],[AveragePrice]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_PODetail_Item]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_PODetail_Item] ON [dbo].[fact_PO_Detail]
(
	[PONumber] ASC,
	[MaterialCode] ASC,
	[FactoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Position_Date_Fac_Mat]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Position_Date_Fac_Mat] ON [dbo].[fact_Position_Snapshot]
(
	[SnapshotDate] ASC,
	[FactoryCode] ASC,
	[MaterialCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_PO_Number]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_PO_Number] ON [dbo].[fact_Purchase_Order]
(
	[PONumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Fact_PurchaseOrder_Number]    Script Date: 9/6/2026 1:41:07 PM ******/
ALTER TABLE [dbo].[Fact_PurchaseOrder] ADD  CONSTRAINT [UQ_Fact_PurchaseOrder_Number] UNIQUE NONCLUSTERED 
(
	[PONumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Formula_BOM_Code]    Script Date: 9/6/2026 1:41:07 PM ******/
ALTER TABLE [dbo].[Formula_BOM] ADD  CONSTRAINT [UQ_Formula_BOM_Code] UNIQUE NONCLUSTERED 
(
	[FormulaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Formula_BOM_Item]    Script Date: 9/6/2026 1:41:07 PM ******/
ALTER TABLE [dbo].[Formula_BOM_Item] ADD  CONSTRAINT [UQ_Formula_BOM_Item] UNIQUE NONCLUSTERED 
(
	[FormulaID] ASC,
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Mapping_Header]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Mapping_Header] ON [dbo].[sys_Import_Mapping]
(
	[TemplateType] ASC,
	[SourceColumnHeader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_sys_User_Username]    Script Date: 9/6/2026 1:41:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_sys_User_Username] ON [dbo].[sys_User_Account]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dim_Factory] ADD  DEFAULT ((0)) FOR [CapacityTonsPerMonth]
GO
ALTER TABLE [dbo].[dim_Factory] ADD  DEFAULT (N'Active') FOR [ActiveStatus]
GO
ALTER TABLE [dbo].[dim_Factory] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[dim_Formula_BOM] ADD  DEFAULT (N'1.0') FOR [Revision]
GO
ALTER TABLE [dbo].[dim_Formula_BOM] ADD  DEFAULT (CONVERT([date],sysdatetime())) FOR [EffectiveDate]
GO
ALTER TABLE [dbo].[dim_Formula_BOM] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[dim_Formula_BOM] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[dim_Formula_Item] ADD  DEFAULT ((1)) FOR [Priority]
GO
ALTER TABLE [dbo].[dim_Material] ADD  DEFAULT (N'KG') FOR [Unit]
GO
ALTER TABLE [dbo].[dim_Material] ADD  DEFAULT ((0)) FOR [UnitPriceUSD]
GO
ALTER TABLE [dbo].[dim_Material] ADD  DEFAULT (N'Fiona') FOR [PIC]
GO
ALTER TABLE [dbo].[dim_Material] ADD  DEFAULT ((15)) FOR [SafetyStockDays]
GO
ALTER TABLE [dbo].[dim_Material] ADD  DEFAULT ((0)) FOR [MinOrderQty]
GO
ALTER TABLE [dbo].[dim_Material] ADD  DEFAULT ((25.0)) FOR [StandardPackingKg]
GO
ALTER TABLE [dbo].[dim_Material] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[dim_Material] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[dim_Material] ADD  DEFAULT ((0)) FOR [StandardPrice]
GO
ALTER TABLE [dbo].[dim_Material_Substitution] ADD  DEFAULT ((1.0000)) FOR [SubstitutionRatio]
GO
ALTER TABLE [dbo].[dim_Material_Substitution] ADD  DEFAULT ((1)) FOR [PriorityOrder]
GO
ALTER TABLE [dbo].[dim_Material_Substitution] ADD  DEFAULT ('2020-01-01') FOR [ValidFrom]
GO
ALTER TABLE [dbo].[dim_Material_Substitution] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[dim_Material_Substitution] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Dim_PIC] ADD  CONSTRAINT [DF_Dim_PIC_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Dim_PIC] ADD  CONSTRAINT [DF_Dim_PIC_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[dim_Region] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[dim_Supplier] ADD  DEFAULT (N'IMPORT') FOR [SupplierType]
GO
ALTER TABLE [dbo].[dim_Supplier] ADD  DEFAULT (N'DDP') FOR [Incoterm]
GO
ALTER TABLE [dbo].[dim_Supplier] ADD  DEFAULT (N'Net 30') FOR [PaymentTerms]
GO
ALTER TABLE [dbo].[dim_Supplier] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[dim_Supplier] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[fact_Forecast_Detail] ADD  DEFAULT (N'Livestock') FOR [Division]
GO
ALTER TABLE [dbo].[fact_Forecast_Detail] ADD  DEFAULT ((0)) FOR [ForecastQtyKg]
GO
ALTER TABLE [dbo].[fact_Forecast_Detail] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Fact_Forecast_Header] ADD  CONSTRAINT [DF_Fact_Forecast_Header_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Fact_Forecast_Header] ADD  CONSTRAINT [DF_Fact_Forecast_Header_WorkingDays]  DEFAULT ((28)) FOR [WorkingDaysInMonth]
GO
ALTER TABLE [dbo].[Fact_Forecast_Header] ADD  CONSTRAINT [DF_Fact_Forecast_Header_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[fact_Forecast_Version] ADD  DEFAULT ((0)) FOR [TotalForecastQty]
GO
ALTER TABLE [dbo].[fact_Forecast_Version] ADD  DEFAULT ((0)) FOR [SKUCount]
GO
ALTER TABLE [dbo].[fact_Forecast_Version] ADD  DEFAULT ((0)) FOR [PlantCount]
GO
ALTER TABLE [dbo].[fact_Forecast_Version] ADD  DEFAULT (sysdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[fact_Forecast_Version] ADD  DEFAULT (N'System') FOR [UploadedBy]
GO
ALTER TABLE [dbo].[fact_Inbound_Schedule] ADD  DEFAULT ((0)) FOR [ScheduledQtyKg]
GO
ALTER TABLE [dbo].[fact_Inbound_Schedule] ADD  DEFAULT (N'Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[fact_Inbound_Schedule] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Fact_InterFactory_Transfer] ADD  CONSTRAINT [DF_Transfer_Urgency]  DEFAULT ('MEDIUM') FOR [Urgency]
GO
ALTER TABLE [dbo].[Fact_InterFactory_Transfer] ADD  CONSTRAINT [DF_Transfer_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Fact_InterFactory_Transfer] ADD  CONSTRAINT [DF_Transfer_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[fact_Inventory_Movement] ADD  DEFAULT (N'KG') FOR [UOM]
GO
ALTER TABLE [dbo].[fact_Inventory_Movement] ADD  DEFAULT (N'RAW') FOR [SubInventory]
GO
ALTER TABLE [dbo].[fact_Inventory_Movement] ADD  DEFAULT ((0)) FOR [BeginOnHandKg]
GO
ALTER TABLE [dbo].[fact_Inventory_Movement] ADD  DEFAULT ((0)) FOR [ReceivedQtyKg]
GO
ALTER TABLE [dbo].[fact_Inventory_Movement] ADD  DEFAULT ((0)) FOR [WipIssueQtyKg]
GO
ALTER TABLE [dbo].[fact_Inventory_Movement] ADD  DEFAULT ((0)) FOR [ClosedOnHandKg]
GO
ALTER TABLE [dbo].[fact_Inventory_Movement] ADD  DEFAULT (CONVERT([date],sysdatetime())) FOR [ReportDate]
GO
ALTER TABLE [dbo].[fact_Inventory_Movement] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[fact_Inventory_SOH] ADD  DEFAULT ((0)) FOR [SOHQtyKg]
GO
ALTER TABLE [dbo].[fact_Inventory_SOH] ADD  DEFAULT (N'RAW') FOR [SubInventory]
GO
ALTER TABLE [dbo].[fact_Inventory_SOH] ADD  DEFAULT ((0)) FOR [AveragePrice]
GO
ALTER TABLE [dbo].[fact_Inventory_SOH] ADD  DEFAULT (CONVERT([date],sysdatetime())) FOR [SnapshotDate]
GO
ALTER TABLE [dbo].[fact_Inventory_SOH] ADD  DEFAULT ((0)) FOR [AllocatedKg]
GO
ALTER TABLE [dbo].[fact_Inventory_SOH] ADD  DEFAULT (N'DEFAULT_LOT') FOR [LotNumber]
GO
ALTER TABLE [dbo].[fact_Inventory_SOH] ADD  DEFAULT (N'Available') FOR [QualityStatus]
GO
ALTER TABLE [dbo].[fact_Inventory_SOH] ADD  DEFAULT (sysdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[fact_PO_Detail] ADD  DEFAULT ((0)) FOR [OrderQtyKg]
GO
ALTER TABLE [dbo].[fact_PO_Detail] ADD  DEFAULT ((0)) FOR [ReceivedQtyKg]
GO
ALTER TABLE [dbo].[fact_PO_Detail] ADD  DEFAULT ((0)) FOR [UnitPriceUSD]
GO
ALTER TABLE [dbo].[fact_PO_Detail] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[fact_PO_Detail] ADD  DEFAULT ((0)) FOR [UnitPriceVND]
GO
ALTER TABLE [dbo].[fact_PO_Detail] ADD  DEFAULT ((0)) FOR [LineAmountVND]
GO
ALTER TABLE [dbo].[fact_PO_Detail] ADD  DEFAULT ((0)) FOR [AmountRemainderVND]
GO
ALTER TABLE [dbo].[fact_PO_Detail] ADD  DEFAULT (N'Open Order') FOR [LineStatus]
GO
ALTER TABLE [dbo].[fact_PO_Detail] ADD  DEFAULT (N'DDP') FOR [Incoterm]
GO
ALTER TABLE [dbo].[fact_Position_Snapshot] ADD  DEFAULT ((22)) FOR [CutoffWorkingDays]
GO
ALTER TABLE [dbo].[fact_Position_Snapshot] ADD  DEFAULT ((28)) FOR [StandardMonthDays]
GO
ALTER TABLE [dbo].[fact_Position_Snapshot] ADD  DEFAULT (N'Macro') FOR [RMGroup]
GO
ALTER TABLE [dbo].[fact_Position_Snapshot] ADD  DEFAULT (N'Livestock') FOR [Division]
GO
ALTER TABLE [dbo].[fact_Position_Snapshot] ADD  DEFAULT (N'Mina') FOR [PIC]
GO
ALTER TABLE [dbo].[fact_Position_Snapshot] ADD  DEFAULT ((0)) FOR [SOHQtyKg]
GO
ALTER TABLE [dbo].[fact_Position_Snapshot] ADD  DEFAULT ((0)) FOR [MTD_Production_PrevMonth_Kg]
GO
ALTER TABLE [dbo].[fact_Position_Snapshot] ADD  DEFAULT ((0)) FOR [MTD_Production_CurrMonth_Kg]
GO
ALTER TABLE [dbo].[fact_Position_Snapshot] ADD  DEFAULT ((0)) FOR [MonthlyUsageForecastKg]
GO
ALTER TABLE [dbo].[fact_Position_Snapshot] ADD  DEFAULT ((0)) FOR [PO_PendingInboundKg]
GO
ALTER TABLE [dbo].[fact_Position_Snapshot] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[fact_Production_Usage] ADD  DEFAULT ((0)) FOR [ActualUsageKg]
GO
ALTER TABLE [dbo].[fact_Production_Usage] ADD  DEFAULT (N'Operator') FOR [RecordedBy]
GO
ALTER TABLE [dbo].[fact_Production_Usage] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[fact_Purchase_Order] ADD  DEFAULT ((0)) FOR [TotalAmountUSD]
GO
ALTER TABLE [dbo].[fact_Purchase_Order] ADD  DEFAULT (N'Confirmed') FOR [POStatus]
GO
ALTER TABLE [dbo].[fact_Purchase_Order] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[fact_Purchase_Order] ADD  DEFAULT (N'Net 30') FOR [PaymentTerms]
GO
ALTER TABLE [dbo].[fact_Purchase_Order] ADD  DEFAULT (N'DDP') FOR [Incoterm]
GO
ALTER TABLE [dbo].[fact_Purchase_Order] ADD  DEFAULT (N'VND') FOR [Currency]
GO
ALTER TABLE [dbo].[Fact_PurchaseOrder] ADD  CONSTRAINT [DF_Fact_PurchaseOrder_Status]  DEFAULT ('Confirmed') FOR [Status]
GO
ALTER TABLE [dbo].[Fact_PurchaseOrder] ADD  CONSTRAINT [DF_Fact_PurchaseOrder_Amount]  DEFAULT ((0.00)) FOR [TotalAmountUSD]
GO
ALTER TABLE [dbo].[Fact_PurchaseOrder] ADD  CONSTRAINT [DF_Fact_PurchaseOrder_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Fact_PurchaseOrder] ADD  CONSTRAINT [DF_Fact_PurchaseOrder_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Formula_BOM] ADD  CONSTRAINT [DF_Formula_BOM_Inclusion]  DEFAULT ((4.00)) FOR [PremixInclusionRateInFeed]
GO
ALTER TABLE [dbo].[Formula_BOM] ADD  CONSTRAINT [DF_Formula_BOM_BatchSize]  DEFAULT ((1000.00)) FOR [StandardBatchSizeKg]
GO
ALTER TABLE [dbo].[Formula_BOM] ADD  CONSTRAINT [DF_Formula_BOM_Status]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Formula_BOM] ADD  CONSTRAINT [DF_Formula_BOM_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Formula_BOM_Item] ADD  CONSTRAINT [DF_Formula_BOM_Item_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[stg_Raw_Forecast_Matrix] ADD  DEFAULT ((0)) FOR [ForecastQtyKg]
GO
ALTER TABLE [dbo].[stg_Raw_Forecast_Matrix] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[sys_Audit_Log] ADD  DEFAULT (N'System') FOR [PerformedBy]
GO
ALTER TABLE [dbo].[sys_Audit_Log] ADD  DEFAULT (sysdatetime()) FOR [PerformedAt]
GO
ALTER TABLE [dbo].[sys_Import_Mapping] ADD  DEFAULT (N'STRING') FOR [DataType]
GO
ALTER TABLE [dbo].[sys_Import_Mapping] ADD  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[sys_Import_Mapping] ADD  DEFAULT (sysdatetime()) FOR [LastUsedAt]
GO
ALTER TABLE [dbo].[sys_User_Account] ADD  DEFAULT (N'viewer') FOR [Role]
GO
ALTER TABLE [dbo].[sys_User_Account] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[sys_User_Account] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[sys_User_Account] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[dim_Factory]  WITH CHECK ADD  CONSTRAINT [FK_dim_Factory_Region] FOREIGN KEY([RegionID])
REFERENCES [dbo].[dim_Region] ([RegionID])
GO
ALTER TABLE [dbo].[dim_Factory] CHECK CONSTRAINT [FK_dim_Factory_Region]
GO
ALTER TABLE [dbo].[fact_Forecast_Detail]  WITH CHECK ADD  CONSTRAINT [FK_ForecastDetail_Version] FOREIGN KEY([VersionID])
REFERENCES [dbo].[fact_Forecast_Version] ([VersionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fact_Forecast_Detail] CHECK CONSTRAINT [FK_ForecastDetail_Version]
GO
ALTER TABLE [dbo].[fact_PO_Detail]  WITH CHECK ADD  CONSTRAINT [FK_PODetail_Header] FOREIGN KEY([PONumber])
REFERENCES [dbo].[fact_Purchase_Order] ([PONumber])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fact_PO_Detail] CHECK CONSTRAINT [FK_PODetail_Header]
GO
ALTER TABLE [dbo].[dim_Factory]  WITH CHECK ADD  CONSTRAINT [CK_dim_Factory_Division] CHECK  (([Division]=N'Premix' OR [Division]=N'Aqua' OR [Division]=N'Livestock'))
GO
ALTER TABLE [dbo].[dim_Factory] CHECK CONSTRAINT [CK_dim_Factory_Division]
GO
ALTER TABLE [dbo].[dim_Factory]  WITH CHECK ADD  CONSTRAINT [CK_dim_Factory_Status] CHECK  (([ActiveStatus]=N'Maintenance' OR [ActiveStatus]=N'Inactive' OR [ActiveStatus]=N'Active'))
GO
ALTER TABLE [dbo].[dim_Factory] CHECK CONSTRAINT [CK_dim_Factory_Status]
GO
ALTER TABLE [dbo].[dim_Formula_BOM]  WITH CHECK ADD  CONSTRAINT [CK_Formula_Division] CHECK  (([Division]=N'Premix' OR [Division]=N'Aqua' OR [Division]=N'Livestock'))
GO
ALTER TABLE [dbo].[dim_Formula_BOM] CHECK CONSTRAINT [CK_Formula_Division]
GO
ALTER TABLE [dbo].[dim_Formula_Item]  WITH CHECK ADD  CONSTRAINT [CK_Formula_InclusionRate] CHECK  (([InclusionRatePct]>(0) AND [InclusionRatePct]<=(100)))
GO
ALTER TABLE [dbo].[dim_Formula_Item] CHECK CONSTRAINT [CK_Formula_InclusionRate]
GO
ALTER TABLE [dbo].[dim_Material]  WITH CHECK ADD  CONSTRAINT [CK_dim_Material_SafetyStock] CHECK  (([SafetyStockDays]>=(0)))
GO
ALTER TABLE [dbo].[dim_Material] CHECK CONSTRAINT [CK_dim_Material_SafetyStock]
GO
ALTER TABLE [dbo].[dim_Material]  WITH CHECK ADD  CONSTRAINT [CK_dim_Material_UnitPrice] CHECK  (([UnitPriceUSD]>=(0)))
GO
ALTER TABLE [dbo].[dim_Material] CHECK CONSTRAINT [CK_dim_Material_UnitPrice]
GO
ALTER TABLE [dbo].[dim_Material_Substitution]  WITH CHECK ADD  CONSTRAINT [CK_Sub_NotSame] CHECK  (([PrimaryMaterialCode]<>[AltMaterialCode]))
GO
ALTER TABLE [dbo].[dim_Material_Substitution] CHECK CONSTRAINT [CK_Sub_NotSame]
GO
ALTER TABLE [dbo].[dim_Material_Substitution]  WITH CHECK ADD  CONSTRAINT [CK_Sub_Ratio] CHECK  (([SubstitutionRatio]>(0)))
GO
ALTER TABLE [dbo].[dim_Material_Substitution] CHECK CONSTRAINT [CK_Sub_Ratio]
GO
ALTER TABLE [dbo].[dim_Supplier]  WITH CHECK ADD  CONSTRAINT [CK_dim_Supplier_Type] CHECK  (([SupplierType]=N'LOCAL' OR [SupplierType]=N'IMPORT'))
GO
ALTER TABLE [dbo].[dim_Supplier] CHECK CONSTRAINT [CK_dim_Supplier_Type]
GO
ALTER TABLE [dbo].[fact_Forecast_Detail]  WITH CHECK ADD  CONSTRAINT [CK_ForecastDetail_Qty] CHECK  (([ForecastQtyKg]>=(0)))
GO
ALTER TABLE [dbo].[fact_Forecast_Detail] CHECK CONSTRAINT [CK_ForecastDetail_Qty]
GO
ALTER TABLE [dbo].[Fact_Forecast_Header]  WITH CHECK ADD  CONSTRAINT [CK_Fact_Forecast_Header_WorkingDays] CHECK  (([WorkingDaysInMonth]>=(1) AND [WorkingDaysInMonth]<=(31)))
GO
ALTER TABLE [dbo].[Fact_Forecast_Header] CHECK CONSTRAINT [CK_Fact_Forecast_Header_WorkingDays]
GO
ALTER TABLE [dbo].[fact_Inbound_Schedule]  WITH CHECK ADD  CONSTRAINT [CK_Inbound_Status] CHECK  (([Status]=N'Delayed' OR [Status]=N'Received' OR [Status]=N'Arrived_Port' OR [Status]=N'Customs_Hold' OR [Status]=N'On_Vessel' OR [Status]=N'Scheduled'))
GO
ALTER TABLE [dbo].[fact_Inbound_Schedule] CHECK CONSTRAINT [CK_Inbound_Status]
GO
ALTER TABLE [dbo].[Fact_InterFactory_Transfer]  WITH CHECK ADD  CONSTRAINT [CK_Transfer_Distinct_Factories] CHECK  (([SourceFactoryID]<>[TargetFactoryID]))
GO
ALTER TABLE [dbo].[Fact_InterFactory_Transfer] CHECK CONSTRAINT [CK_Transfer_Distinct_Factories]
GO
ALTER TABLE [dbo].[Fact_InterFactory_Transfer]  WITH CHECK ADD  CONSTRAINT [CK_Transfer_Qty] CHECK  (([TransferQtyKg]>(0)))
GO
ALTER TABLE [dbo].[Fact_InterFactory_Transfer] CHECK CONSTRAINT [CK_Transfer_Qty]
GO
ALTER TABLE [dbo].[Fact_InterFactory_Transfer]  WITH CHECK ADD  CONSTRAINT [CK_Transfer_Status] CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Dispatched' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Fact_InterFactory_Transfer] CHECK CONSTRAINT [CK_Transfer_Status]
GO
ALTER TABLE [dbo].[Fact_InterFactory_Transfer]  WITH CHECK ADD  CONSTRAINT [CK_Transfer_Urgency] CHECK  (([Urgency]='LOW' OR [Urgency]='MEDIUM' OR [Urgency]='HIGH' OR [Urgency]='URGENT'))
GO
ALTER TABLE [dbo].[Fact_InterFactory_Transfer] CHECK CONSTRAINT [CK_Transfer_Urgency]
GO
ALTER TABLE [dbo].[fact_Inventory_SOH]  WITH CHECK ADD  CONSTRAINT [CK_Inventory_OnHand] CHECK  (([SOHQtyKg]>=(0)))
GO
ALTER TABLE [dbo].[fact_Inventory_SOH] CHECK CONSTRAINT [CK_Inventory_OnHand]
GO
ALTER TABLE [dbo].[fact_PO_Detail]  WITH CHECK ADD  CONSTRAINT [CK_PODetail_OrderQty] CHECK  (([OrderQtyKg]>=(0)))
GO
ALTER TABLE [dbo].[fact_PO_Detail] CHECK CONSTRAINT [CK_PODetail_OrderQty]
GO
ALTER TABLE [dbo].[fact_PO_Detail]  WITH CHECK ADD  CONSTRAINT [CK_PODetail_ReceivedQty] CHECK  (([ReceivedQtyKg]>=(0)))
GO
ALTER TABLE [dbo].[fact_PO_Detail] CHECK CONSTRAINT [CK_PODetail_ReceivedQty]
GO
ALTER TABLE [dbo].[fact_Production_Usage]  WITH CHECK ADD  CONSTRAINT [CK_Usage_ActualUsage] CHECK  (([ActualUsageKg]>=(0)))
GO
ALTER TABLE [dbo].[fact_Production_Usage] CHECK CONSTRAINT [CK_Usage_ActualUsage]
GO
ALTER TABLE [dbo].[fact_Purchase_Order]  WITH CHECK ADD  CONSTRAINT [CK_PO_Status] CHECK  (([POStatus]=N'Cancelled' OR [POStatus]=N'Completed' OR [POStatus]=N'Partially_Received' OR [POStatus]=N'In_Transit' OR [POStatus]=N'Confirmed' OR [POStatus]=N'Draft'))
GO
ALTER TABLE [dbo].[fact_Purchase_Order] CHECK CONSTRAINT [CK_PO_Status]
GO
ALTER TABLE [dbo].[Fact_PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [CK_Fact_PurchaseOrder_Status] CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Partially_Received' OR [Status]='Shipped' OR [Status]='Confirmed' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[Fact_PurchaseOrder] CHECK CONSTRAINT [CK_Fact_PurchaseOrder_Status]
GO
ALTER TABLE [dbo].[Formula_BOM]  WITH CHECK ADD  CONSTRAINT [CK_Formula_BOM_Status] CHECK  (([Status]='Archived' OR [Status]='Draft' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Formula_BOM] CHECK CONSTRAINT [CK_Formula_BOM_Status]
GO
ALTER TABLE [dbo].[Formula_BOM_Item]  WITH CHECK ADD  CONSTRAINT [CK_Formula_BOM_Item_Percent] CHECK  (([InclusionPercent]>(0) AND [InclusionPercent]<=(100)))
GO
ALTER TABLE [dbo].[Formula_BOM_Item] CHECK CONSTRAINT [CK_Formula_BOM_Item_Percent]
GO
ALTER TABLE [dbo].[Formula_BOM_Item]  WITH CHECK ADD  CONSTRAINT [CK_Formula_BOM_Item_Qty] CHECK  (([QtyKgPerTonPremix]>(0)))
GO
ALTER TABLE [dbo].[Formula_BOM_Item] CHECK CONSTRAINT [CK_Formula_BOM_Item_Qty]
GO
/****** Object:  StoredProcedure [dbo].[sp_Calculate_Forecast_Volatility]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. STORED PROCEDURE: SO SÁNH ĐA KỲ & TÍNH BIẾN ĐỘNG (FORECAST VOLATILITY & SPARKLINE)
CREATE   PROCEDURE [dbo].[sp_Calculate_Forecast_Volatility]
    @TargetDate    DATE,
    @BaseDate      DATE,
    @Division      NVARCHAR(50) = NULL,
    @PIC           NVARCHAR(100) = NULL,
    @SiteCode      NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TargetVersionID NVARCHAR(100) = N'FC-' + CONVERT(VARCHAR(10), @TargetDate, 120);
    DECLARE @BaseVersionID NVARCHAR(100) = N'FC-' + CONVERT(VARCHAR(10), @BaseDate, 120);

    -- Lấy danh sách Material x Site xuất hiện ở một trong 2 kỳ
    ;WITH BaseList AS (
        SELECT DISTINCT 
            d.MaterialCode,
            d.SiteCode,
            d.PlantName,
            d.Division
        FROM dbo.fact_Forecast_Detail d
        WHERE d.VersionID IN (@TargetVersionID, @BaseVersionID)
    ),
    CompareComputed AS (
        SELECT 
            b.MaterialCode,
            m.Name_VN AS MaterialName,
            ISNULL(m.PIC, N'Fiona') AS PIC,
            b.Division,
            b.SiteCode,
            b.PlantName AS FactoryName,
            ISNULL(t.ForecastQtyKg, 0) AS TargetQty,
            ISNULL(bs.ForecastQtyKg, 0) AS BaseQty,
            (ISNULL(t.ForecastQtyKg, 0) - ISNULL(bs.ForecastQtyKg, 0)) AS QtyDiff,
            CASE 
                WHEN ISNULL(bs.ForecastQtyKg, 0) > 0 
                    THEN ((ISNULL(t.ForecastQtyKg, 0) - bs.ForecastQtyKg) / bs.ForecastQtyKg) * 100.0
                WHEN ISNULL(t.ForecastQtyKg, 0) > 0 AND ISNULL(bs.ForecastQtyKg, 0) = 0 
                    THEN 100.0
                WHEN ISNULL(t.ForecastQtyKg, 0) = 0 AND ISNULL(bs.ForecastQtyKg, 0) > 0 
                    THEN -100.0
                ELSE 0.0
            END AS ComparePct
        FROM BaseList b
        JOIN dbo.dim_Material m ON b.MaterialCode = m.MaterialCode
        LEFT JOIN dbo.fact_Forecast_Detail t ON b.MaterialCode = t.MaterialCode AND b.SiteCode = t.SiteCode AND t.VersionID = @TargetVersionID
        LEFT JOIN dbo.fact_Forecast_Detail bs ON b.MaterialCode = bs.MaterialCode AND b.SiteCode = bs.SiteCode AND bs.VersionID = @BaseVersionID
    )
    SELECT 
        c.MaterialCode,
        c.MaterialName,
        c.PIC,
        c.Division,
        c.SiteCode,
        c.FactoryName,
        c.TargetQty,
        c.BaseQty,
        c.QtyDiff,
        ROUND(c.ComparePct, 2) AS ComparePct,
        CASE WHEN c.ComparePct <= -99.9 THEN 1 ELSE 0 END AS IsSevereCut,
        CASE WHEN c.ComparePct >= 50.0 THEN 1 ELSE 0 END AS IsHighSurge,
        CASE WHEN c.ComparePct >= 99.9 THEN 1 ELSE 0 END AS IsSurge100
    FROM CompareComputed c
    WHERE (@Division IS NULL OR c.Division = @Division)
      AND (@PIC IS NULL OR c.PIC = @PIC)
      AND (@SiteCode IS NULL OR c.SiteCode = @SiteCode)
    ORDER BY c.MaterialCode, c.SiteCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Calculate_Position_Matrix]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. Stored Procedure Tự Động Tính Toán và Cập Nhật Ma Trận Position
CREATE   PROCEDURE [dbo].[sp_Calculate_Position_Matrix]
    @SnapshotDate DATE = '2026-08-25',
    @CutoffWorkingDays INT = 22,
    @StandardMonthDays INT = 28
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật toàn bộ các công thức toán học chuẩn
    UPDATE dbo.fact_Position_Snapshot
    SET
        DailyStandardUsageKg = CASE 
            WHEN MonthlyUsageForecastKg > 0 THEN ROUND(MonthlyUsageForecastKg / CAST(@StandardMonthDays AS DECIMAL(18,2)), 2)
            ELSE 0 
        END,
        PctUsedUsage = CASE 
            WHEN MonthlyUsageForecastKg > 0 THEN ROUND(MTD_Production_CurrMonth_Kg / MonthlyUsageForecastKg, 4)
            ELSE 0 
        END,
        DOI_Standard_Days = CASE 
            WHEN MonthlyUsageForecastKg > 0 AND (MonthlyUsageForecastKg / @StandardMonthDays) > 0 
            THEN ROUND(SOHQtyKg / (MonthlyUsageForecastKg / CAST(@StandardMonthDays AS DECIMAL(18,2))), 1)
            ELSE 999.0 
        END,
        DOI_Actual_MTD_Days = CASE 
            WHEN MTD_Production_CurrMonth_Kg > 0 AND (MTD_Production_CurrMonth_Kg / @CutoffWorkingDays) > 0 
            THEN ROUND(SOHQtyKg / (MTD_Production_CurrMonth_Kg / CAST(@CutoffWorkingDays AS DECIMAL(18,2))), 1)
            ELSE 999.0 
        END
    WHERE SnapshotDate = @SnapshotDate;

    -- Cập nhật Ngày Stockout SOH & Thuật toán Arrange More
    UPDATE dbo.fact_Position_Snapshot
    SET
        StockoutDateSOH = DATEADD(day, 
            CASE 
                WHEN DOI_Standard_Days >= 999.0 THEN 365
                ELSE CAST(ROUND(DOI_Standard_Days, 0) AS INT) 
            END, 
            SnapshotDate
        ),
        EmergencyBufferQtyKg = CASE 
            WHEN DOI_Standard_Days < 7.0 THEN ROUND(DailyStandardUsageKg * 10.0, 0)
            WHEN DOI_Standard_Days <= 15.0 THEN ROUND(DailyStandardUsageKg * 8.0, 0)
            ELSE 0.0 
        END
    WHERE SnapshotDate = @SnapshotDate;

    -- Cập nhật DOI Sau Bù Đắp, Tổng DOI Pipeline và Ngày Bảo Vệ Tối Đa
    UPDATE dbo.fact_Position_Snapshot
    SET
        DOI_AfterBuffer_Days = CASE 
            WHEN DailyStandardUsageKg > 0 
            THEN ROUND((SOHQtyKg + ISNULL(EmergencyBufferQtyKg, 0)) / DailyStandardUsageKg, 1)
            ELSE DOI_Standard_Days 
        END,
        TotalPipeline_DOI_Days = CASE 
            WHEN DailyStandardUsageKg > 0 
            THEN ROUND((SOHQtyKg + ISNULL(PO_PendingInboundKg, 0)) / DailyStandardUsageKg, 1)
            ELSE DOI_Standard_Days 
        END
    WHERE SnapshotDate = @SnapshotDate;

    UPDATE dbo.fact_Position_Snapshot
    SET
        MaxProtectedDate = DATEADD(day, 
            CASE 
                WHEN TotalPipeline_DOI_Days >= 999.0 THEN 365
                ELSE CAST(ROUND(TotalPipeline_DOI_Days, 0) AS INT) 
            END, 
            SnapshotDate
        )
    WHERE SnapshotDate = @SnapshotDate;

    PRINT N'>>> Đã tính toán hoàn tất ma trận Position cho ngày: ' + CAST(@SnapshotDate AS NVARCHAR(20));
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Calculate_Supply_Position_Daily]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. Tạo Procedure Alias sp_Calculate_Supply_Position_Daily gọi sp_Calculate_Position_Matrix
CREATE   PROCEDURE [dbo].[sp_Calculate_Supply_Position_Daily]
    @SnapshotDate DATE = '2026-08-25',
    @CutoffWorkingDays INT = 22,
    @StandardMonthDays INT = 28
AS
BEGIN
    SET NOCOUNT ON;
    EXEC dbo.sp_Calculate_Position_Matrix 
        @SnapshotDate = @SnapshotDate, 
        @CutoffWorkingDays = @CutoffWorkingDays, 
        @StandardMonthDays = @StandardMonthDays;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Import_Forecast_From_Staging]    Script Date: 9/6/2026 1:41:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. STORED PROCEDURE: NẠP MA TRẬN DỰ BÁO TỪ STAGING VÀO BẢNG CHÍNH (ACID TRANSACTION)
CREATE   PROCEDURE [dbo].[sp_Import_Forecast_From_Staging]
    @BatchID          NVARCHAR(100),
    @RunDate          DATE,
    @VersionName      NVARCHAR(250),
    @UploadedBy       NVARCHAR(100) = N'System',
    @SourceFileName   NVARCHAR(255) = NULL,
    @Notes            NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @VersionID NVARCHAR(100) = N'FC-' + CONVERT(VARCHAR(10), @RunDate, 120);
    DECLARE @TotalQty DECIMAL(18,2) = 0;
    DECLARE @SKUCount INT = 0;
    DECLARE @PlantCount INT = 0;
    DECLARE @ErrorMessage NVARCHAR(4000);

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1.1. Tự động bổ sung mã nguyên liệu mới vào dim_Material nếu chưa có (Tránh lỗi FK)
        INSERT INTO dbo.dim_Material (MaterialID, MaterialCode, Name_VN, Name_EN, Category, Unit, UnitPriceUSD, PIC, SafetyStockDays, MinOrderQty, StandardPackingKg, IsActive)
        SELECT DISTINCT 
            N'MAT-' + s.MaterialCode,
            s.MaterialCode,
            ISNULL(s.MaterialDesc, s.MaterialCode),
            ISNULL(s.MaterialDesc, s.MaterialCode),
            N'Chưa phân loại',
            N'KG',
            0,
            N'Fiona',
            15,
            0,
            25.0,
            1
        FROM dbo.stg_Raw_Forecast_Matrix s
        WHERE s.BatchID = @BatchID
          AND NOT EXISTS (SELECT 1 FROM dbo.dim_Material m WHERE m.MaterialCode = s.MaterialCode);

        -- 1.2. Tạo hoặc cập nhật Header phiên bản đợt nạp (fact_Forecast_Version)
        IF EXISTS (SELECT 1 FROM dbo.fact_Forecast_Version WHERE VersionID = @VersionID)
        BEGIN
            UPDATE dbo.fact_Forecast_Version
            SET VersionName = @VersionName,
                UploadedAt = SYSDATETIME(),
                UploadedBy = @UploadedBy,
                SourceFileName = @SourceFileName,
                Notes = @Notes
            WHERE VersionID = @VersionID;

            -- Xóa các chi tiết cũ của đợt này để nạp lại sạch sẽ
            DELETE FROM dbo.fact_Forecast_Detail WHERE VersionID = @VersionID;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.fact_Forecast_Version (VersionID, RunDate, VersionName, TotalForecastQty, SKUCount, PlantCount, UploadedAt, UploadedBy, SourceFileName, Notes)
            VALUES (@VersionID, @RunDate, @VersionName, 0, 0, 0, SYSDATETIME(), @UploadedBy, @SourceFileName, @Notes);
        END

        -- 1.3. Bóc tách dữ liệu từ Staging nạp vào fact_Forecast_Detail và Map với Danh mục Nhà máy
        INSERT INTO dbo.fact_Forecast_Detail (
            VersionID,
            RunDate,
            SiteCode,
            FactoryCode,
            PlantName,
            MaterialCode,
            MaterialName,
            Division,
            ForecastQtyKg
        )
        SELECT 
            @VersionID,
            @RunDate,
            ISNULL(f.InternalCode, LTRIM(RTRIM(SUBSTRING(s.SiteHeader, 1, 4)))),
            ISNULL(f.InternalCode, LTRIM(RTRIM(SUBSTRING(s.SiteHeader, 1, 4)))),
            s.SiteHeader,
            s.MaterialCode,
            ISNULL(m.Name_VN, s.MaterialDesc),
            ISNULL(f.Division, N'Livestock'),
            s.ForecastQtyKg
        FROM dbo.stg_Raw_Forecast_Matrix s
        LEFT JOIN dbo.dim_Material m ON s.MaterialCode = m.MaterialCode
        LEFT JOIN dbo.dim_Factory f ON s.SiteHeader LIKE N'%' + f.InternalCode + N'%' 
                                    OR s.SiteHeader LIKE N'%' + f.FactoryName_VN + N'%'
                                    OR s.SiteHeader LIKE f.FactoryID + N'%'
        WHERE s.BatchID = @BatchID
          AND s.ForecastQtyKg > 0;

        -- 1.4. Tính toán tổng hợp số liệu để cập nhật lại Header
        SELECT 
            @TotalQty = ISNULL(SUM(ForecastQtyKg), 0),
            @SKUCount = COUNT(DISTINCT MaterialCode),
            @PlantCount = COUNT(DISTINCT SiteCode)
        FROM dbo.fact_Forecast_Detail
        WHERE VersionID = @VersionID;

        UPDATE dbo.fact_Forecast_Version
        SET TotalForecastQty = @TotalQty,
            SKUCount = @SKUCount,
            PlantCount = @PlantCount
        WHERE VersionID = @VersionID;

        -- 1.5. Dọn dẹp sạch bảng Staging sau khi nạp thành công (Tránh phình DB)
        DELETE FROM dbo.stg_Raw_Forecast_Matrix WHERE BatchID = @BatchID;

        -- 1.6. Ghi Audit Log
        INSERT INTO dbo.sys_Audit_Log (ActionType, TableName, RecordKey, PerformedBy, Notes)
        VALUES (N'IMPORT_FORECAST', N'fact_Forecast_Version', @VersionID, @UploadedBy, 
                CONCAT(N'Nạp thành công đợt Forecast: ', @VersionName, N', Tổng SL: ', @TotalQty, N' kg, SKUs: ', @SKUCount));

        COMMIT TRANSACTION;

        SELECT 
            1 AS Success, 
            N'Nạp dữ liệu Forecast thành công!' AS Message,
            @VersionID AS VersionID,
            @TotalQty AS TotalQtyKg,
            @SKUCount AS SKUCount,
            @PlantCount AS PlantCount;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SET @ErrorMessage = ERROR_MESSAGE();
        
        INSERT INTO dbo.sys_Audit_Log (ActionType, TableName, RecordKey, PerformedBy, Notes)
        VALUES (N'IMPORT_ERROR', N'stg_Raw_Forecast_Matrix', @BatchID, @UploadedBy, @ErrorMessage);

        SELECT 
            0 AS Success, 
            CONCAT(N'Lỗi nạp Forecast: ', @ErrorMessage) AS Message,
            NULL AS VersionID, 0 AS TotalQtyKg, 0 AS SKUCount, 0 AS PlantCount;
    END CATCH
END
GO
USE [master]
GO
